// 主题色
$main-color: #fbc02d;
$succsee-color: #73c97b;

// 背景色
$background-color: #f5f5f5;

// 圆角
$radius-sm: 10rpx;
$radius-base: 20rpx;
$radius-lg: 40rpx;

// 触摸样式
.hover-normal{
  background-color: #f5f5f5;
}